module.exports = {
  isDisabledAddCartBtn: function (product, cartlist) {
    var isDisable = false;
    if (product.StockQuantity === 0) {
      isDisable = true
    }
    cartlist.forEach(function (item) {
      if (item.ProductCode === product.Guid) {
        if (product.LimitPerPerson !== 0 && product.LimitPerPerson === item.Quantity) {
          isDisable = true;
        }
        return false
      }
    })
    return isDisable
  },
  isFavorite: function (product, favorites) {
    var isFavorite = false;
    favorites.forEach(function (item) {
      if (item.Guid === product.Guid) {
        isFavorite = true;
        return false;
      }
    })
    return isFavorite;
  }
}
